In [6]:
import sys, os
sys.path.append(os.path.abspath(".."))

import pandas as pd

# ------------------------------
# Load SPI means and impact data
# ------------------------------
spi = pd.read_csv("../data/processed/somaliland_spi_2020_2023.csv")
impact = pd.read_csv("../data/processed/validation_impact_2020_2023.csv")

# ------------------------------
# Merge SPI mean with observed impacts
# ------------------------------
df = spi.merge(
    impact[["region", "year", "season", "OBS"]],
    on=["region", "year", "season"],
    how="left"
)

# ------------------------------
# Clean display â€” ONLY these columns:
# region, year, season, SPI mean, observed drought (0/1)
# ------------------------------

df_clean = df[["region", "year", "season", "mean", "OBS"]].sort_values(
    ["region", "year", "season"]
)

df_clean.head()

   region  year season      mean  OBS
0   Awdal  2020    MAM  1.247377    0
5   Awdal  2020    OND -0.145574    1
10  Awdal  2021    MAM  0.542533    1
15  Awdal  2021    OND  0.027138    1
20  Awdal  2022    MAM -1.823260    1

In [7]:
df_clean.to_csv("../data/processed/impact_spi_clean.csv", index=False)